.about-main {
  margin-top: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .about-main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.about-section {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  font-size: 15px;
}

.about-heading {
  font-size: 1.71428571rem;
  margin-bottom: 1rem;
}
