* {
  padding: 0;
  margin: 0;
}
.commercial_main {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 6rem;
}
.meta {
  color: rgba(0, 0, 0, 0.7);
}
.ui.card:first-child {
  margin-top: 0 !important;
}
.ui.card {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.75) !important;
}
@media (max-width: 580px) {
  .commercial_main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .commercial_main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.grid_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-bottom: 4rem;
}

.projectLink {
  display: block;
  display: flex;
  justify-content: center;
}

.linkButtons {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.linkButton {
  width: 94px;
}
.ui.card .content .meta {
  color: rgba(0, 0, 0, 0.7);
}

.commercial_main_h1 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.grid_main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 1rem;
}

.object-cover {
  object-fit: cover;
}
