.nav-logo-text-container {
  display: flex;
  font-family: LeagueSpartan, Helvetica, sans-serif;
  font-size: 20px;
  position: relative;
  left: 8px;
  font-weight: bolder;
}

.nav-logo-text-blue {
  color: rgb(23, 145, 200);
  font-size: 20px;
}
.nav-logo-text-black {
  color: black;
  font-size: 20px;
}
.span {
  font-size: 10px;
}

.navbar-website-logo {
  width: 135px;
  height: 90px;
}
