.personal_main {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 580px) {
  .personal_main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .personal_main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.personal_main_h1 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.ui.card .content .meta {
  color: rgba(0, 0, 0, 0.7);
}
.grid_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  margin-bottom: 4rem;
}
