* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@font-face {
  font-family: "LeagueSpartan";
  src: URL("/assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype");
}
body {
  background: #e4eef7 !important;
}
.ui.card {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.75);
}

.lato {
  font-family: "Lato", sans-serif;
}
