@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "League Spartan", sans-serif;
  background: #e4eef7 !important;
}
