.about-main {
  margin-top: 11rem; /* same as mt-44 in Tailwind */
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .about-main {
    padding-left: 3rem; /* md:px-12 */
    padding-right: 3rem;
  }
}

.about-section {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  font-size: 15px;
}

.about-heading {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
