.message-main {
  margin-top: 1rem; /* same as mt-44 in Tailwind */
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .message-main {
    padding-left: 3rem; /* md:px-12 */
    padding-right: 3rem;
  }
}
