.personal_main {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .personal_main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.personal_main_h1 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.grid_main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .grid_main {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    justify-content: center;
    gap: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .grid_main {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    justify-content: center;
    gap: 10px;
  }
}
